<style>
.visits-h1 {
  
}
</style>
<div>
  <div>
    <h1>
    <div class="visits-h1">
      List of all visits
    </div>
    </h1>
  </div>
</div>

<% if session.fetch(:user_id) != nil %>
  <hr>
<div>
  <div>
    <h2>
      Log your visits! 
    </h2>

    <form action="/insert_visit" method="post">
      <div>
        <label for="country_id_box">
          Country ID
        </label>

        <input type="text" id="country_id_box" name="query_country_id">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year">
      </div>

      <button>
        Create visit
      </button>
    </form>
  </div>
</div>
<% else %>
Sign up or log in to start logging visits!
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Country ID
        </th>

        <th>
          User ID
        </th>

        <th>
          Year
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_visits.each do |a_visit| %>
      <tr>
        <td>
          <%= a_visit.id %>
        </td>

        <td>
          <%= a_visit.country_id %>
        </td>

        <td>
          <%= a_visit.user_id %>
        </td>

        <td>
          <%= a_visit.year %>
        </td>

        <td>
          <%= time_ago_in_words(a_visit.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_visit.updated_at) %> ago
        </td>

        <td>
          <a href="/visits/<%= a_visit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
