
<h1><%= @current_user.username %></h1>

<dl>
  <dt>ID</dt>
    <dd><%= @current_user.id %></dd>

  <dt>Name</dt>
    <dd><%= @current_user.name %></dd>

  <dt>Age</dt>
    <dd><%= @current_user.age %></dd>
</dl>

<% if session.fetch(:user_id) == @current_user.id %>

<div>
  <div>
    <h2>
      Add a new trip
    </h2>

    <form action="/insert_visit" method="post">
      <div>
        <label for="country_id_box">
          Country ID
        </label>

        <input type="text" id="country_id_box" name="query_country_id">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year">
      </div>

      <button>
        Create trip
      </button>
    </form>
  </div>
</div>


<% end %>

<h2><%= @current_user.username %>'s trips</h2>

<table border="1">
  <tr>
    <th>
      Year
    </th>
   
    <th>
      Country
    </th>

    <th>
      Country facts
    </th>
  </tr>

  
  <% @current_user.own_visits.each do |trip| %>

  <tr>

    <td>
      <%= trip.year %>
    </td>

    <td>
      <% matching_countries = Country.where( {:id => trip.country_id}) %>
      <% trip_country = matching_countries.at(0) %>

      <%= trip_country.name %>
    </td>

    <td>
      <a href="/countries/<%= trip.country_id %>">Show details</a>
    </td>

  </tr>

  <% end %>
</table>
