<div>
  <div>
    <h1>
      <%= @the_country.name %> details
    </h1>

    <div>
      <div>
        <a href="/countries">
          Go back
        </a>
      </div>
    <% if session.fetch(:user_id) != nil %>
      <div>
        <a href="/delete_country/<%= @the_country.id %>">
          Delete country
        </a>
      </div>
    </div>
    <% end %>

    <dl>
      <dt>
        ID
      </dt>
      <dd>
        <%= @the_country.id %>
      </dd>

      <dt>
        Capital
      </dt>
      <dd>
        <%= @the_country.capital %>
      </dd>

      <dt>
        Currency
      </dt>
      <dd>
        <%= @the_country.currency %>
      </dd>

      <dt>
        Language
      </dt>
      <dd>
        <%= @the_country.language %>
      </dd>

      <dt>
        Population
      </dt>
      <dd>
        <%= @the_country.population %>
      </dd>

    </dl>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) != nil %>

<h2>Log a visit!</h2>
<form action="/insert_visit" method="post">
<div>
  <label for="visit_year">I was here in:</label>
  <input id="visit_year" type="text" name="query_year" placeholder="What year did you visit?">
</div>
<div>
  <label for="visit_id"><%= @the_country.name %> ID - don't change! </label>
  <input id="visit_id" type="text" name="query_country_id" placeholder="What year did you visit?" value=<%= @the_country.id%> >
</div>
  <button>Confirm visit</button>
</form>
<hr>
<% end %>


<% if session.fetch(:user_id) != nil %>
<div>
  <div>
    <h2>
      Edit country
    </h2>

    <form action="/modify_country/<%= @the_country.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_country.name %>">
      </div>

      <div>
        <label for="capital_box">
          Capital
        </label>

        <input type="text" id="capital_box" name="query_capital" value="<%= @the_country.capital %>">
      </div>

      <div>
        <label for="currency_box">
          Currency
        </label>

        <input type="text" id="currency_box" name="query_currency" value="<%= @the_country.currency %>">
      </div>

      <div>
        <label for="language_box">
          Language
        </label>

        <input type="text" id="language_box" name="query_language" value="<%= @the_country.language %>">
      </div>

      <div>
        <label for="population_box">
          Population
        </label>

        <input type="text" id="population_box" name="query_population" value="<%= @the_country.population %>">
      </div>

      <button>
        Update country
      </button>
    </form>
  </div>
</div>

<hr>
<% else %>
Have new information? Sign up or sign in to update the knowledge base!
<% end %>
