<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>


  </head>

  <body>
  <div class="nav_buttons">
   
    <% if session.fetch(:user_id) != nil%>
      <a href="/my_profile" class="each_nav_button">My profile</a>
    <% end %>

      <a href="/countries" class="each_nav_button">Countries</a>

      <a href="/users" class="each_nav_button">Users</a>

      <a href="/visits" class="each_nav_button">Visits</a>

     <% if session.fetch(:user_id) == nil %>
  
      <a href="/user_sign_up" class="each_nav_button">Sign up</a>
 

      <a href="/user_sign_in" class="each_nav_button">Sign in</a>
  
  <% else %>
 
      <a href="/user_sign_out" class="each_nav_button">Sign out</a>

  <% end %>
  


  </div>


  <% if notice.present? %>
    <div style="border: thin green solid; color: green">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div style="border: thin red solid;">
      <%= alert %>
    </div>
  <% end %>


  <%= yield %>
  </body>
</html>
